.home-parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;

  background-image: url("/image/ParallaxHome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
  will-change: transform;
}
.parallax-content {
 position: absolute;
  inset: 0;                /* top right bottom left = 0 */
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
  padding: 0 20px;
  text-align: center;
  color: white;
}
